<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.student">

    <uses-sdk tools:overrideLibrary="educontext" />
    <!-- 允许程序连接网络 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 允许程序录制音频 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 允许程序使用照相设备 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 允许程序修改全局音频设置 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" /> <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 允许对存储空间进行读写 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 允许程序连接到已配对的蓝牙设备 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_calendar"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Student"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon,android:theme">
        <activity android:name=".course.labActivity" />
        <activity android:name=".my.id.CertActivity" />
        <activity android:name=".fab.FabProjectActivity" />
        <activity android:name=".fab.FabPastActivity" />
        <activity android:name=".fab.FabJobActivity" />
        <activity android:name=".fab.FabStuActivity" />
        <activity android:name=".fab.FabNoticeActivity" />
        <activity android:name=".my.resume.team_resume_changeActivity" />
        <activity android:name=".contacts.VideoChatViewActivity" />
        <activity android:name=".contacts.VoiceChatViewActivity" />
        <activity android:name=".contacts.ChatActivity" />
        <activity android:name=".course.stucourse.check.check_inActivity" />
        <activity android:name=".my.resume.people_resume_changeActivity" />
        <activity android:name=".my.resume.team_resumeActivity" />
        <activity android:name=".my.resume.people_resumeActivity" />
        <activity android:name=".course.job.ajobsubmintActivity" />
        <activity android:name=".contacts.team_troActivity" />
        <activity android:name=".contacts.group_chatActivity" />
        <activity android:name=".contacts.people_introActivity" />
        <activity android:name=".course.searchActivity" />
        <activity android:name=".course.rec.recourse_detail_Activity" />
        <activity android:name=".course.job.jobsubmitActivity" />
        <activity android:name=".course.news.informActivity" />
        <activity android:name=".course.news.discussActivity" />
        <activity android:name=".my.myatt.myattActivity" />
        <activity android:name=".my.resume.myresumeActivity" />
        <activity android:name=".my.exp.myexpActivity" />
        <activity android:name=".my.account.myaccountActivity" />
        <activity android:name=".my.mysetActivity" />
        <activity android:name=".my.mypost.mypostActivity" />
        <activity android:name=".my.myserviceActivity" />
        <activity android:name=".my.course.mycourseActivity" />
        <activity android:name=".my.collect.mycollectActivity" />
        <activity android:name=".my.mysand.mysandActivity" />
        <activity android:name=".my.id.myidActivity" />
        <activity android:name=".stuloginActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".course.stucourse.stucourceActivity" />
        <activity android:name=".signinActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>