<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.student">
    <!-- 允许程序连接网络 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 允许程序录制音频 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 允许程序使用照相设备 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 允许程序修改全局音频设置 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" /> <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 允许对存储空间进行读写 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 允许程序连接到已配对的蓝牙设备 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Student"
        android:usesCleartextTraffic="true">
        <activity android:name=".course.jobsubmitActivity" />
        <activity android:name=".course.informActivity" />
        <activity android:name=".course.discussActivity" />
        <activity android:name=".my.myattActivity" />
        <activity android:name=".my.myresumeActivity" />
        <activity android:name=".my.myexpActivity" />
        <activity android:name=".my.myaccountActivity" />
        <activity android:name=".my.mysetActivity" />
        <activity android:name=".my.mypostActivity" />
        <activity android:name=".my.myserviceActivity" />
        <activity android:name=".my.mycourseActivity" />
        <activity android:name=".my.mycollectActivity" />
        <activity android:name=".my.mysandActivity" />
        <activity android:name=".my.myidActivity" />
        <activity android:name=".stuloginActivity" />
        <activity android:name=".loginselectActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".course.stucourceActivity" />
        <activity android:name=".signinActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>